*{
    font-family: 'Lato';
    color:white
}

body{
    /* background-image: linear-gradient(111.7deg,#a529b9 19.9%,#50b1e1 95%); */
    background-image: linear-gradient(to right,#a529b9 19.9%,#50b1e1 95%);
}
.container{
    max-width: 700px;
    margin: 0 auto;
}

header{
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    font-family:'Lato';
    font-weight: 600;

}

img{
    width: 150px;
    border-radius: 100%;
}

ul{
    display: flex;
    flex-direction: column;
}
li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    height: 60px;
    border-radius: 50px;
    
    border: solid 1px #7990D7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-weight:900;
}

li a:hover{
    opacity: 0.5;
    color: rgb(127, 253, 253);
}

footer{
    margin-top: 40px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Lato';
    font-weight: lighter;
}

/* remover */
li a img{
    width: 20px;
    margin-right: 10px;
}